@using Capstone.Bookstore.DAL
@model List<Tbl_Category> 

@{ 
    var categories = Model;
}

@if (categories != null)
{
    foreach (var item in categories)
    {
        <li><a href="@Url.Action("Category", "Home", new { id = item.CategoryId })">@item.CategoryName</a></li>
    }
}
